* {
  box-sizing: border-box;
  margin: 0;
}
nav {
  background-color: #1f2937;
  color: #f9faf8;
  padding-bottom: 2rem;
}
.header,
.sub-header {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0 3rem 0;
}
.sub-header .text {
  padding-right: 8rem;
}
.header div,
.sub-header div {
  flex: 1;
}
.sub-header .image {
  flex: 1.5;
}
.logo h4 {
  color: #f9faf8;
  font-size: 24px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.text h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.text p {
  color: #e5e7eb;
  font-size: 18px;
}
.sign {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.image {
  background-color: #747575;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* First section */

.info-section h2 {
  margin: 2rem;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}
.info-section div {
  width: 42%;
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 12rem;
}
.info-section div .content {
  gap: 0;
}
.content div {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 100%;
  height: 70%;
  margin-bottom: 0.5rem;
}
.content p {
  color: #747575;
  font-size: 18px;
  text-align: center;
}

/* Quote */

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 4rem 0;
  text-align: center;
  margin-top: 1rem;
}
.quote div {
  width: 43%;
  margin: 0 auto;
}
.slant-text {
  font-size: 36px;
  font-weight: 100;
}

/* Last Section */

.call-content {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 4rem auto;
  background-color: #3882f6;
  color: #f9faf8;
}
.call-content button {
  border-radius: 10%;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  padding: 0.5rem 1rem;
}

/* footer */
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 2rem 0;
  font-size: 25px;
}
