* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  background-color: #1f2937;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: white;
}

.main-navigation {
  margin-left: auto;
  font-size: 18px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation li {
  margin-left: 15px;
}

.main-navigation a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Footer Section */
footer {
  background-color: #1f2937;
}
